{% extends 'categories/base.html' %}

{% load static %}

{% block content %}
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row text-left mb-5">
          <div class="col-12">
            <h2 class="font-weight-bold heading text-primary mb-6">Quienes Somos</h2>
          </div>
          <div class="col-lg-6">
            <p class="text-black-50">
              Aunque la exploración a menudo se asocia con lugares, en el fondo, 
              se trata de las personas. Durante 20 años, la experiencia de persona 
              a persona ha sido el núcleo de la misión de AV. Es lo que siempre 
              hemos hecho y es lo que hacemos ahora. Gente real ayudando a gente real. 
              A tu lado en cada paso del camino.
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}    