{% extends 'categories/base.html' %}

{% load static %}

{% block content %}
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <h2 class="font-weight-bold heading text-primary mb-6">Destinos</h2>
        </div>
        <div class="col-md-3 mt-3">
            <div class="card">
                <a href="{% url 'product_create' %}" class="m-2 btn btn-dark btn-sm">Agregar Destino</a>
            </div>
        </div>
        <div class="col-md-9 mt-3">
            <div class="row">
                
                {% for products in products %}
                <div class="col-md-4">
                    <div class="card my-2">
                        <a href=""><img src="{{ products.image.url }}" class="card-img-top" style="height:275px" /></a>
                    <div class="card-body">
                        <h4 class="card-text">{{ products.title }}</h4>
                    </div>
                        <a href="{% url 'product_read' products.id %}" class="m-2 btn btn-outline-dark btn-sm">Ver Mas</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}